#header {
  background-color: darkgoldenrod;
}

@media only screen and (min-width: 320px){
  *{
    margin : 0px;
  }

  body {
  }

  #header {
    font-size: 1.5rem ;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
  }

  #search-box {
    outline: none;
    border: 0px solid black;
    height: 30px;
  }

  #search-button{
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod;
    height: 30px;
  }

  #search-button:hover{
    background-color: rgba(184, 134, 11, 0.5);
    
  }

  .temperature-button {
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod;
    color: white;
  }

  #weather , #temperature{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-left: 20px;
  }

  #temperature {
    font-size: 1.3rem;
  }

  #form {
    border: 1px solid black;
    width: 209px;
    height: auto;
    margin-bottom: 10px;
  }


<<<<<<< HEAD

  #weather-report{
    font-size: 1.5rem;
    margin-top: 30px;
    border-bottom: 1px solid darkgoldenrod;
  }

  #map {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: 20px 0px 0px 5px;
  }

} 



@media only screen and (min-width: 760px){
  *{
    margin : 0px;
  }

  body {
  }

  #header {
    font-size: 3rem ;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
  }

  #search-box {
    outline: none;
    border: 0px solid black;
    font-size: 2em;
    width: 400px;
    height: 60px;
  }

  #search-button{
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod;
    width: 60px;
    font-size: 2em;
    height: 60px;
  }

  #search-button:hover{
    background-color: rgba(184, 134, 11, 0.5);
    
  }

  .temperature-button {
    border: 1px solid darkgoldenrod;
    height: 60px;
    width: 60px;
    border-radius: 3px;
    background-color: darkgoldenrod;
    color: white;
  }

  #weather , #temperature{
    font-size: 3rem;
    text-transform: capitalize;
    margin-left: 20px;
  }

  #temperature {
    font-size: 2.6rem;
  }

  #form {
    border: 1px solid black;
    width: 469px;
    height: auto;
    margin-bottom: 10px;
  }

  #weather-report{
    font-size: 3rem;
    margin-top: 30px;
    border-bottom: 1px solid darkgoldenrod;
  }

  #map {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin: 20px 0px 0px 5px;
  }

} 

@media only screen and (min-width: 1024px){
  *{
    margin : 0px;
  }

  main {
=======
@media only screen and (min-width: 768px) {
  main{
>>>>>>> 2b4e5275b3720e4dc2c755ac27f438523ca12f30
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #header {
    font-size: 1.5rem ;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
  }

  #search-box {
    outline: none;
    border: 0px solid black;
    font-size : 2em;
    height: 60px;
  }

  #search-button{
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod;
    width: 60px;
    height: 60px;
  }

  #search-button:hover{
    background-color: rgba(184, 134, 11, 0.5);
    
  }

  .temperature-button {
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod;
    color: white;
  }

  #weather , #temperature{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-left: 20px;
  }

  #temperature {
    font-size: 1.3rem;
  }

  #form {
    border: 1px solid black;
    width: 469px;
    height: auto;
    margin-bottom: 10px;
  }

  

  #weather-report{
    font-size: 1.5rem;
    margin-top: 30px;
    border-bottom: 1px solid darkgoldenrod;
  }

  #map {
    height: 500px;
    width: 600px;
    border: 1px solid black;
    margin: 20px 0px 0px 5px;
  }

} 

